$bp-lg: 50em; // 800px;

$value-sm: 1rem;
$value-md: 2rem;
$value-lg: 4rem;
$value-xl: 8rem;

$color-white: #ffffff;
$color-grey-1: #16161d;
$color-grey-2: #2F2E38;
$color-grey-3: #464653;
$color-grey-4: #797986;
$color-grey-5: #AFAFB6;

$color-blue-1: #04274D;
$color-blue-2: #0A3E79;
$color-blue-3: #1559A5;
$color-blue-4: #3D76B5;
$color-blue-5: #719FD3;

$color-orange-1: #763800;
$color-orange-2: #B95700;
$color-orange-3: #FD7E0D;
$color-orange-4: #FF9E48;
$color-orange-5: #FFBB7E;

$color-green-1: #005A10;
$color-green-2: #008D19;
$color-green-3: #0AC12A;
$color-green-4: #3ACD53;
$color-green-5: #6FE183;
