$bp-lg: 50em; // 800px;

$value-sm: 1rem;
$value-md: 2rem;
$value-lg: 4rem;
$value-xl: 8rem;

$color-white: #ffffff;
$color-grey-1: #16161d;
$color-grey-2: #2F2E38;
$color-grey-3: #464653;
$color-grey-4: #797986;
$color-grey-5: #AFAFB6;
$color-blue-3: #1559a5;
$color-orange-3: #fd7e0d;
$color-green-3: #0ac12a;
