$bp-lg: 50em; // 800px;

$font-size-h1: 6rem;
$font-size-h2: 4.8rem;
$font-size-h3: 3.6rem;
$font-size-h4: 2.4rem;
$font-size-body: 1.6rem;

$font-family-head: 'Cabin', sans-serif;
$font-family-body: 'Open Sans', sans-serif;

$color-white: #ffffff;
$color-grey-1: #16161d;
$color-blue-3: #1559a5;
$color-orange-3: #fd7e0d;
$color-green-3: #0ac12a;
