.footer {
  width: 80rem;
  font-size: $font-size-body;
  font-family: $font-family-body;
  color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: currentColor;

    &:focus,
    &:hover {
      outline: none;
      border: none;
      color: $color-green-5;
    }

    &:visited {
      color: $color-green-3;
    }
  }
}
