.icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: $color-grey-2;
  font-size: $font-size-h3;
  text-decoration: none;
  color: $color-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &--svg {
    height: 5rem;
    width: 5rem;
    fill: $color-white;
  }
}
