.link-box {
  .links {
    list-style: none;
    font-size: 2rem;
    font-family: $font-family-head;
    color: $color-white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

    li {
      padding: 1rem 0;

      .link {
        text-decoration: none;
        color: $color-white;

        &:hover,
        &:focus {
          border: none;
          outline: none;
          text-decoration: underline;
        }
      }
    }
  }
}
