.skill-box {
  .skills {
    list-style: none;
    font-size: 2rem;
    font-family: $font-family-head;
    color: $color-white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

    .skill {
      padding: 1rem 0;
    }
  }
}
