.tab {
  cursor: pointer;
  height: 12rem;
  width: 36rem;
  position: absolute;
  border-radius: 10rem;
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: $bp-lg) {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-size-h4;
    font-family: $font-family-head;
    color: $color-white;
  }

  &[class$='open'] {
    z-index: -1;
    background-color: $color-grey-2;

    &::after {
      content: 'Return';
    }
  }

  &--left-close {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: $color-blue-3;

    &::after {
      content: 'About';
    }

    &:hover {
      transform: translate(-48%, -50%) rotate(90deg);
      background-color: $color-blue-4;
    }
  }

  &--left-open {
    top: 50%;
    right: 100%;
    transform: translate(50%, -50%) rotate(90deg);

    &:hover {
      transform: translate(52%, -50%) rotate(90deg);
      background-color: $color-grey-3;
    }
  }

  &--right-close {
    top: 50%;
    right: 100%;
    transform: translate(50%, -50%) rotate(-90deg);
    background-color: $color-orange-3;

    &::after {
      content: 'Projects';
    }

    &:hover {
      transform: translate(48%, -50%) rotate(-90deg);
      background-color: $color-orange-4;
    }
  }

  &--right-open {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(-90deg);

    &:hover {
      transform: translate(-52%, -50%) rotate(-90deg);
      background-color: $color-grey-3;
    }
  }

  &--bottom-close {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-green-3;

    &::after {
      content: 'Contact';
    }

    &:hover {
      transform: translate(-50%, -52%);
      background-color: $color-green-4;
    }
  }

  &--bottom-open {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-grey-2;

    &::after {
      content: 'Return';
      color: $color-white;
    }

    &:hover {
      transform: translate(-50%, -52%);
      background-color: $color-grey-3;
    }
  }
}
