.container-contact {
}

.contact-form {
  border: 1px solid $color-green-3;
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  grid-column-gap: 4rem;

  &--field {
    padding-bottom: 2rem;
  }

  #contact-form-message {
    grid-column: 1 / -1;
  }

  &--heading {
    padding-bottom: 0.5rem;
  }

  &--input {
    width: 100%;
    padding: 1rem;
  }

  &--submit {
    padding: 1rem 3rem;
    margin: 0 auto;
    grid-column: 1 / -1;
    background-color: $color-green-3;
    font-size: $font-size-h4;
    font-family: $font-family-head;
    color: $color-white;
  }
}
