.container-contact {
  max-width: 80rem;
}

.contact-form {
  padding: 3rem 4rem;
  border-top: 1rem solid $color-green-2;
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  grid-column-gap: 4rem;

  &--field {
    padding-bottom: 2rem;
  }

  #contact-form-message {
    grid-column: 1 / -1;
  }

  &--heading {
    padding-bottom: 0.5rem;
  }

  &--input {
    width: 100%;
    padding: 1rem;

    &:focus {
      border: 2px solid $color-green-5;
      outline: none;
    }
  }

  &--submit {
    padding: 1rem 3rem;
    margin: 0 auto;
    grid-column: 1 / -1;
    background-color: $color-green-3;
    font-size: $font-size-h4;
    font-family: $font-family-head;
    color: $color-white;
    transition: all 0.2s ease-in-out;

    &:focus,
    &:hover {
      border: none;
      background-color: $color-green-5;
    }
  }
}
