.container {
  position: relative;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  @media screen and (max-width: $bp-lg) {
    height: 100vh;
    justify-content: center;
  }
}

.icon-bar {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
