.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (max-width: $bp-lg) {
    height: 100vh;
    justify-content: center;
  }
}

.icon-bar {
  width: 30rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a:focus,
  a:hover {
    transform: translateY(-0.5rem);
    border: 2px solid $color-white;
    outline: none;
  }
}
