.projects {
  height: 100%;
  padding-top: 6rem;
  border-top: 1rem solid $color-orange-3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  grid-column-gap: 12rem;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar-thumb {
    background: $color-orange-2;

    &:hover {
      background: $color-orange-4;
    }
  }

  .heading-3 {
    grid-column: 1 / -1;
  }

  @media screen and (max-width: $bp-lg) {
    overflow: auto;
  }

  @media screen and (max-width: $bp-md) {
    grid-template-columns: 1fr;
  }
}

.project {
  margin-bottom: 16rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;

  @media screen and (max-width: $bp-xl) {
    margin-bottom: 10rem;
  }

  &--img-link {
    border-bottom: 0.5rem solid $color-orange-3;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: center;
    transition: all 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 1rem solid $color-orange-5;
    }

    @media screen and (max-width: $bp-xl) {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &--img {
    width: 40rem;
    background-size: 100% 100%;

    @media screen and (max-width: $bp-xl) {
      width: 100%;
    }
  }

  &--info {
    max-width: 120rem;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $bp-xl) {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
    }
  }

  &--heading {
    padding-bottom: 0.5rem;
    border-bottom: 0.5rem solid $color-orange-3;
    grid-column: 1 / -1;
  }

  &--desc {
    grid-column: 1 / -1;
  }

  .fab,
  .fas {
    color: $color-orange-3;
  }

  .skill:hover {
    color: $color-orange-5;
  }
}
